<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:replace="fragments/head :: headerFragment" />
</head>
<body>

	<div th:insert="~{fragments/header :: navbar}" th:remove="tag"></div>

	<div class="container">
		<p>Customer Adding Page</p>
	</div>

	<div align="center">
		<h1>Customer List</h1>
		<br /> <br />
		<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${listCustomers}">
					<td th:text="${customer.name}">Name</td>
					<td th:text="${customer.email}">Email</td>
					<td>
						<form th:action="@{'/company/add-customer/' + ${customer.id}}" method="post">
							<button type="submit" name="add-button" value="add-button" class="btn-link">Add to My Customers</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div th:insert="~{fragments/assets :: assets}" th:remove="tag"></div>

</body>
</html>