<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link th:replace="fragments/head :: headerFragment" />
</head>
<body>

	<div th:insert="~{fragments/navbar :: navbar}" th:remove="tag"></div>

	<div class="container">
		<h1>Product Adding Page</h1>
	</div>

	<div class="col-md-6 col-md-offset-3" style="margin: auto">
		<br /> <br />
		<h1>Add Product</h1>
		<form th:action="@{/company/add-product/save?success}" th:object="${product}" method="post">
			<div th:if="${param.success}">
				<div class="alert alert-info">Product added.</div>
			</div>
			<div class="form-group">
				<label for="exampleInputName1">Product title:</label> <input type="text" th:field="*{title}" class="form-control"
					id="exampleInputName1" placeholder="Enter product title" />
			</div>
			<div class="form-group">
				<label for="exampleInputName1">Product price:</label> <input type="text" th:field="*{price}" class="form-control"
					id="exampleInputName1" placeholder="Enter product price">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<div th:insert="~{fragments/assets :: assets}" th:remove="tag"></div>

</body>
</html>