<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:replace="fragments/head :: headerFragment" />
</head>
<body>

	<div th:insert="~{fragments/header :: navbar}" th:remove="tag"></div>

	<div class="container">
		<a class="btn btn-primary btn-sm" th:href="${@environment.getProperty('app.company.login')}" role="button">company-login</a>
		<a class="btn btn-primary btn-sm" th:href="${@environment.getProperty('app.customer.login')}" role="button">customer-login</a>
		<br> <br> <a class="btn btn-primary btn-sm" th:href="${@environment.getProperty('app.company.register')}"
			role="button">company-register</a> <a class="btn btn-primary btn-sm"
			th:href="${@environment.getProperty('app.customer.register')}" role="button">customer-register</a>

	</div>



	<div th:insert="~{fragments/assets :: assets}" th:remove="tag"></div>

</body>
</html>