<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link th:replace="fragments/head :: headerFragment"/>
<link th:replace="~{fragments/assets :: assets}"/>
</head>
<body>

	<div th:insert="~{fragments/navbar :: navbar}" th:remove="tag"></div>

	<br>
	<br>
	<div class="container">
		<div sec:authorize="hasRole('ROLE_COMPANY')">
			<h1>COMPANY WELCOME PAGE</h1>
		</div>

		<div sec:authorize="hasRole('ROLE_CUSTOMER')">
			<h1>CUSTOMER WELCOME PAGE</h1>
		</div>

		<p>
			Welcome <span sec:authentication="principal.username">User</span>
		</p>

		<div th:insert="~{fragments/product :: company-products}"></div>
		<div th:insert="~{fragments/welcome-for-customer :: welcome-customer}"></div>
		<div th:insert="~{fragments/welcome-for-company :: welcome-company}"></div>
	</div>

	<div th:insert="~{fragments/assets :: assets}" th:remove="tag"></div>

</body>
</html>